<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text ="Regresar"></ion-back-button>
    </ion-buttons>
    <ion-title>{{playlist.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img  [src]="playlist?.images[0].url"></ion-img>
  <ion-item *ngFor="let item of playlistTracks?.items">
    <iframe [src]="validateUrl(item.track.uri)" frameborsrcder="0" allowtransparency="true" allow="encrypted-media;picture-in-picture;clipboard-write"></iframe>
  </ion-item>
</ion-content>
